<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zjut.dao.CustomerMapper">
    <!-- 自定义返回结果集 -->
    <resultMap id="customerMap" type="Customer">
        <id property="customerID" column="customerID" javaType="java.lang.Integer"></id>
        <result property="account" column="account" javaType="java.lang.String"></result>
        <result property="password" column="password" javaType="java.lang.String"></result>
    </resultMap>

    <insert id="insertCustomer" parameterType="cn.edu.zjut.po.Customer" useGeneratedKeys="true"
            keyProperty="customerID">
        INSERT INTO
        customer (customerID,account,password,name,sex,birthday,phone,email,address,zipcode,fax)
        VALUES (#{customerID},#{account},#{password},#{name},#{sex},#{birthday},#{phone},#{email},#{address},#{zipcode},#{fax})
    </insert>

    <select id="selectCustomerById" resultType="cn.edu.zjut.po.Customer">
        SELECT * FROM customer WHERE customerID = #{customerID}
    </select>

    <update id="updateCustomer">
        update customer set account=#{account},password=#{password},name=#{name} where id=#{id}
    </update>

</mapper>