<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zjut.dao.StudentMapper">
    <!--
    <resultMap id="studentMap" type="cn.edu.zjut.po.Student">
        <id property="stuID" column="stuid" javaType="java.lang.Integer"></id>
        <result property="name" column="name" javaType="java.lang.String"></result>
        <result property="classname" column="classname" javaType="java.lang.String"></result>
        <result property="departname" column="departname" javaType="java.lang.String"></result>
        <result property="email" column="email" javaType="java.lang.String"></result>
        <result property="img" column="img" javaType="java.lang.String"></result>
    </resultMap>
    -->


    <insert id="insertStudent" parameterType="cn.edu.zjut.po.Student" useGeneratedKeys="true"
            keyProperty="stuID">
        INSERT INTO
        student (stuid,name,password,classname,departname,email,img)
        VALUES (#{stuID},#{name},#{password},#{classname},#{departname},#{email},#{img})
    </insert>
    
    <update id="updateStudent" parameterType="cn.edu.zjut.po.Student">
        UPDATE student set
        name=#{name},password=#{password},classname=#{classname},departname=#{departname},email=#{email},img=#{img}
        where stuid=#{stuID}
    </update>

    <delete id="deleteStudent" parameterType="int">
        DELETE FROM student
        WHERE stuid=#{id}
    </delete>
    
    <select id="selectStudentById" parameterType="int" resultType="cn.edu.zjut.po.Student">
        SELECT * FROM student
        WHERE stuid=#{id}
    </select>

    <select id="selectAllStudent" resultType="cn.edu.zjut.po.Student">
        SELECT * FROM student
    </select>

    <select id="selectStudentByClass" parameterType="String" resultType="cn.edu.zjut.po.Student">
        SELECT * FROM student WHERE classname = #{className}
    </select>

    <select id="selectStudentByDepart" resultType="cn.edu.zjut.po.Student">
        SELECT * FROM student WHERE departname = #{departName}
    </select>

</mapper>